<div class="card card-show text-center my-5">
  <div class="card-header card-header-show">
    <h4 class="card-title-show">Treino do Dia<h4>
  </div>
  <div class="card-body">
    <% binding.pry %>
  </div>
    <div class="card-footer card-footer-show text-muted">
      <% button_to 'Iniciar', '#', class: 'btn btn-primary' %>
    </div>
</div>

<div class="card card-show text-center my-5">
  <div class="card-header card-header-show">
    <h4 class="card-title-show">Meu Progresso<h4>
  </div>
  <div class="card-body">
  </div>
</div>