<div class="card card-show my-3">
  <div class="card-header card-header-show">
    <h4 class="card-title-show"><%= @orientation.name%><h4>
  </div>
  <div class="card-body container">
    <div class="row">
      <div class="row">
          <label>Descrição</label>
          <p>
            <%= @orientation.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
