body {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.active-training {
  background-color: var(--purple-darken);
  color: white;
  font-size: .9rem;
}

.card-text-training {
  font-size: .9rem;
}

.title-training-index {
  font-size: 1.25rem;
}

.card-index {
  background-color: var(--card-background);
  border-color: var(--card-background);
}

.video-index {
  width: auto;
  height: auto;
}

.icons-action {
  text-decoration: none;
  color: lighten(black, 25%);

  &:hover {
    color: black;
  }
}

.card-header-show {
  background-color: white;
  border-bottom: 2px solid var(--blue-darken);
}

// calendar
.realization-today {
  background-color: lighten(#6768D1, 20%);
  border: 1px solid var(--purple-darken);
  border-radius: 8px;
}

.today div {
  border: 1px solid var(--purple-darken);
  border-radius: 8px;
}

//

.card-footer-show {
  background-color: white;
  border: 2px solid white;
}

.card-title-show {
  font-weight: 300;
}

.card-show {
  border-color: white;
}

.link-plano-terapeutico {
  background-color: var(--card-background);

  &:hover {
    background-color: darken(#f4f4f5, 5%);
  }
}

.link-login {
  text-decoration: none;
  color: var(--blue-darken);

  &:hover {
    color: var(--blue-darken);
    text-decoration: underline;
  }
}

.menu {
  background-color: var(--blue-darken);
}

.patient-name-index {
  font-weight: 400;
}

.resume-patient {
  min-height: 192px;
}

// sobrescrever classes bootstrap
.btn-primary {
  background-color: var(--purple-darken);
  border-color: var(--purple-darken);

  &:hover,
  &:focus,
  &:active {
    background-color: darken(#6768D1, 10%);
    border-color: darken(#6768D1, 10%);
  }
}

.mr-2 {
  margin-right: .5rem;
}

.underline {
  text-decoration: underline;
}

.text-justify {
  text-align: justify;
}

.background-purple-light {
  background-color: var(--card-background);
}

.link-index-realization-patient {
  text-decoration: none;
  color: black;
  &:hover,
  &:focus,
  &:active {
    color: black;
  }
}


// pagination
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
  color: darken(#6768D1, 10%);

  &:hover,
  &:focus,
  &:active {
    color: darken(#6768D1, 30%);
  }
}

.pagination {
  border-left: 1px solid #ddd;

  .first,
  .prev,
  .page,
  .next,
  .last {
    padding : 0;
    float: none;
    border: none;
  }
}
